server {
  listen       80;
  root <%= @app_dir %>;
  index index.php index.html index.htm;
  
  <% if @enable_ssl -%>
  listen	 443 ssl;
  ssl_certificate     /etc/ssl/<%= @domain_name %>/certificate.crt;
  ssl_certificate_key /etc/ssl/<%= @domain_name %>/certificate.key;
  ssl_protocols       TLSv1 TLSv1.1 TLSv1.2;
  <% end -%>
    
  server_name  <%= @domain_name %>;

  access_log  <%= @app_log_dir %>/<%= @app_name %>.access.log  main;
  error_log <%= @app_log_dir %>/<%= @app_name %>.error.log error;
  
  set $php_log <%= @app_log_dir %>/php_errors.log;
  
  
  <% if @enable_ssl -%>
  if ($scheme = http) {
    return 302 https://$host$request_uri;
  }
  <% end -%>  
    
  location / {
    set $apphost "phpapp";
    try_files $uri $uri/ @handler;
  }

  location = /admin {
    return 301 /admin/;
  }

  location ~ ^/(admin|index.php\/admin)/.*$ {
    set $apphost "phpadmin";
    try_files $uri $uri/ @handler;
    auth_basic "Restricted Content";
    auth_basic_user_file /etc/nginx/.htpasswd;
  }
  
  # Protect sensitive folders
  location /app/                { deny all; }
  location /includes/           { deny all; }
  location /lib/                { deny all; }
  location /media/downloadable/ { deny all; }
  location /pkginfo/            { deny all; }
  location /report/config.xml   { deny all; }
  location /var/                { deny all; }

  # Protect dotfiles (htaccess, svn, etc.)
  location /. { return 404; }

  location @handler {
    rewrite / /index.php;
  }

  # Remove trailing slashes from PHP files
  location ~ .php/ {
    rewrite ^(.*.php)/ $1 last;
  }  

  # Process php files with php-fpm
  location ~ \.php$ {
      fastcgi_pass unix:/var/run/<%= @app_name %>.sock;
      
      add_header X-App-Host $apphost;
      
      fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
      fastcgi_param PHP_VALUE error_log=$php_log;
      include fastcgi_params;
      fastcgi_param HTTPS "on";
  }
  location /version {
    auth_basic          off;
  }
}