<% @apps.each do |app, params| %>
upstream <%= app %> {
	server localhost:<%= params[:port] %> max_fails=5 fail_timeout=30s;
}

<% end %>

server {
    listen	 80;
    
    <% if @enable_ssl -%>
    listen	 443 ssl;
    ssl_certificate     /etc/ssl/<%= @domain_name %>/certificate.crt;
    ssl_certificate_key /etc/ssl/<%= @domain_name %>/certificate.key;
    ssl_protocols       TLSv1 TLSv1.1 TLSv1.2;
    <% end -%>
    
    server_name  <%= @domain_name %>;

    access_log  <%= node['nginx']['log_dir'] %>/<%= @domain_name %>.access.log  main;
    error_log <%= node['nginx']['log_dir'] %>/<%= @domain_name %>.error.log error;

    <% if @enable_ssl -%>
    # global HTTP handler
    if ($scheme = http) {
        return 302 https://$host$request_uri;
    }
    <% end -%>

    location = / {
       return 302 /<%= @default_context %>;
    }

    <% @apps.each do |app, params| %>
    location /<%= params[:context] %> {
        proxy_pass_header Server;
        proxy_set_header Host $http_host;
        proxy_redirect off;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Scheme $scheme;
        proxy_pass http://<%= app %>/<%= params[:context] %>;
    }

    <% end %>
    
    <% if !@mobile_context.nil? -%>
    location /<%=  @mobile_context %> {
        proxy_pass_header Server;
        proxy_set_header Host $http_host;
        proxy_redirect off;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Scheme $scheme;
        proxy_pass http://vendaweb/<%= @mobile_context %>;
    }
    <% end %>
    
}