<?xml version="1.0" encoding="UTF-8"?>
<datasources spy="true">
  <local-tx-datasource>
    <jndi-name><%= @ds_name -%></jndi-name>
    
    <driver-class>com.mysql.jdbc.Driver</driver-class>
    
    <connection-url><%= @ds_connection_url -%></connection-url>    
    <user-name><%= @ds_username -%></user-name>
    <password><%= @ds_password -%></password>
    <exception-sorter-class-name>org.jboss.resource.adapter.jdbc.vendor.MySQLExceptionSorter</exception-sorter-class-name>

    <min-pool-size>1</min-pool-size>
    <max-pool-size>10</max-pool-size>

    <metadata>
        <type-mapping>mySQL</type-mapping>
    </metadata>
  </local-tx-datasource>  
</datasources>