<?xml version="1.0" encoding="UTF-8"?>
<datasources spy="true">
  <local-tx-datasource>
    <jndi-name>VendaWebDs</jndi-name>
    
    <driver-class>com.mysql.jdbc.Driver</driver-class>
    
    <connection-url><%= @ds_connection_url -%></connection-url>    
    <user-name>dbroot</user-name>
    <password>fY30AN2pw0qXpnp</password>
    <exception-sorter-class-name>org.jboss.resource.adapter.jdbc.vendor.MySQLExceptionSorter</exception-sorter-class-name>

    <min-pool-size>1</min-pool-size>
    <max-pool-size>10</max-pool-size>

    <metadata>
        <type-mapping>mySQL</type-mapping>
    </metadata>
  </local-tx-datasource>  
</datasources>