[<%= @pool_name %>]
listen = /var/run/<%= @pool_name %>.sock
user = www-data
group = www-data
listen.owner = www-data
listen.group = www-data
listen.mode = '0600'
pm = dynamic
pm.max_children = 5
pm.start_servers = 2
pm.min_spare_servers = 1
pm.max_spare_servers = 3
